<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://api.iulitab.com:80/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>https://iulitab.com:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>api.iulitab.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>DEDICAT-RSOL726\deploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ExpenseTrackerContext" Order="1" Enabled="False">
          <Destination Path="Data Source=DEDICAT-RSOL726\SQLEXPRESS;Initial Catalog=expensetrackerapi_db;User ID=expensetrackerapi;Password=1Qaz2wsx_01" Name="Server=DEDICAT-RSOL726\SQLEXPRESS;Database=expensetrackerapi_db;User ID=expensetrackerapi;Password=1Qaz2wsx_01" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ExpenseTracker.Repository.Entities.ExpenseTrackerContext, ExpenseTracker.Repository" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ExpenseTrackerContext-Web.config Connection String">
      <ParameterValue>Server=DEDICAT-RSOL726\SQLEXPRESS;Database=expensetrackerapi_db;User ID=expensetrackerapi;Password=1Qaz2wsx_01</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>